In [174]:
import pandas as pd

In [175]:
df = pd.read_csv('./tuvansa-dev.competitions.csv')

/var/folders/w8/434nvyqx34b0flz8mfjksk900000gn/T/ipykernel_45274/896220907.py:1: DtypeWarning: Columns (15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./tuvansa-dev.competitions.csv')

In [176]:
df.head()

,_id,FolioFiscal,RfcEmisor,NombreRazonSocialEmisor,RfcReceptor,NombreRazonSocialReceptor,FechaEmision,FechaCertificacion,Subtotal,Total,EstadoComprobante,EfectoComprobante,RfcPac,EstatusCancelacion,FechaCancelacion,EstatusProcesoCancelacion,FechaSolicitudCancelacion,Motivo,FolioSustitucion
0,65d2d237965c4cbb98d2a911,577CE232-8AB1-11ED-95A4-55611B420555,TMO831114QV9,TUBOS MONTERREY,OME910520I31,OMNILIFE DE MEXICO,2023-01-02T15:23:00.000Z,2023-01-02T15:26:08.000Z,69376.15,80476.33,Vigente,Ingreso,EME000602QR9,No cancelable,NaN,NaN,NaN,NaN,NaN
1,65d2d237965c4cbb98d2a912,7B4028B9-8AB1-11ED-BF7A-F93B2898BD51,TMO831114QV9,TUBOS MONTERREY,ATY831231284,ACEROS Y TUBOS DE YUCATAN,2023-01-02T15:24:00.000Z,2023-01-02T15:28:33.000Z,70000.00,81200.00,Vigente,Ingreso,EME000602QR9,No cancelable,NaN,NaN,NaN,NaN,NaN
2,65d2d237965c4cbb98d2a913,7B40287C-8AB1-11ED-932F-6D51B60A244C,TMO831114QV9,TUBOS MONTERREY,VIL080813MC4,"VILLATUBOS,",2023-01-02T15:24:00.000Z,2023-01-02T15:28:32.000Z,28248.00,32767.68,Vigente,Ingreso,EME000602QR9,No cancelable,NaN,NaN,NaN,NaN,NaN
3,65d2d237965c4cbb98d2a914,4C2AB69C-8AB3-11ED-A48E-FD3C9118265B,TMO831114QV9,TUBOS MONTERREY,PABE6604104Z1,ENRIQUE PALACIOS BRICEÑO,2023-01-02T15:37:00.000Z,2023-01-02T15:41:10.000Z,329.04,381.69,Vigente,Ingreso,EME000602QR9,Cancelable sin aceptación,NaN,NaN,NaN,NaN,NaN
4,65d2d237965c4cbb98d2a915,EDFFD2DD-8AB6-11ED-95C0-9F5CD43620A2,TMO831114QV9,TUBOS MONTERREY,QUVA870823L3A,ALAN QUEZADA VARGAS,2023-01-02T16:03:00.000Z,2023-01-02T16:08:10.000Z,33479.61,38836.35,Vigente,Ingreso,EME000602QR9,Cancelable con aceptación,NaN,NaN,NaN,NaN,NaN

In [177]:
df["_id"].duplicated().sum()

np.int64(0)

In [178]:
df["FechaEmision"] = pd.to_datetime(df["FechaEmision"])

In [179]:
df["Month"] =df["FechaEmision"].dt.month
df["Year"] = df["FechaEmision"].dt.year

In [195]:

empresasGroupByNameEmisor = df.groupby(by="RfcEmisor").agg({"NombreRazonSocialEmisor":"first"})
empresasGroupByNameEmisor = empresasGroupByNameEmisor.where(empresasGroupByNameEmisor["NombreRazonSocialEmisor"] != "NombreRazonSocialEmisor").dropna().reset_index()
# empresasName = empresasGroupByNameEmisor["NombreRazonSocialEmisor"].reset_index()
# empresasName

empresaEmisora = df[(df["RfcEmisor"] == "LAV751101B63") & (df["Year"] == 2023)]


top50Emisores = empresaEmisora.groupby(by="RfcReceptor").agg({"NombreRazonSocialReceptor":"first", "Total":"sum"}).sort_values("Total", ascending=False).head(50).reset_index()

empresaEmisora.groupby(["Month","Year"]).agg({"Total":"sum"}).reset_index()

    Month    Year        Total
0     1.0  2023.0  11265965.57
1     2.0  2023.0  10125806.50
2     3.0  2023.0  14746989.15
3     4.0  2023.0  12585478.00
4     5.0  2023.0  18883610.89
5     6.0  2023.0  13460453.73
6     7.0  2023.0  19641032.97
7     8.0  2023.0  14234754.89
8     9.0  2023.0  14072370.82
9    10.0  2023.0  10650395.93
10   11.0  2023.0  10605548.64
11   12.0  2023.0   8338196.25